@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

html {
    scroll-behavior: smooth;
}

a {
    color: #6D6D6D;
    font-weight: bold;
}

.page-body {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    color: #6D6D6D;

    margin: 0 1%;
}

.page-wrapper {
    display: flex;
    flex-direction: column;

    max-width: 1000px;
    margin: 0 auto;
}

.page-header__inner {
    display: flex;
    align-items: flex-start;

    margin-left: 15%;

    background: #efeff1;
}

.hamburger-menu {
    width: 50%;
}

.nav-bar {
    margin: 5% 0 0 20%;
}

.nav-bar__link {
    display: block;

    color: #000000;
    letter-spacing: 6px;
    text-decoration: none;
    font-weight: normal;

    transition-duration: .25s;
}

.nav-bar__link:hover {
    background-color: #FFE8E8;
}

.header-content {
    max-width: 60%;
    height: 0;
    position: relative;
    top: -400px;
    margin: 0 1rem 0 5%;
}

.header-content__name {
    margin-bottom: 0.2em;
    font-size: 5em;
    line-height: 1em;
    color: #999999;
}

.header-content__name__sub {
    font-size: 0.5em;
    line-height: 1.5em;
}

.page-header__img {
    width: 50%;
}

.header-content__btn {
    width: 14em;
    line-height: 5em;
    display: block;

    font-size: 1.3em;
    font-family: Poppins, sans-serif;
    font-weight: normal;
    color: #3e3e3e;
    letter-spacing: 0.3em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition-duration: 0.5s;

    background-color: #FFE8E8;
}

.header-content__btn:hover {
    transform: translateY(-5px);
}

.page-main {
    margin: auto;
    width: 90%;
}

.section__title {
    margin: 30px 0 20px 0;

    font-size: 3rem;
    color: #999999;
}

.section__code {
    margin: 0;
}

.section__code .hljs {
    background: #F6F6F6;
}

.section__list {
    margin: 0;
}

.job-list {
    padding: 0;
}

.job {
    display: flex;
    align-items: baseline;
}

.job__intro {
    width: 30%;
}

.job__details {
    width: 70%;
}

.job__company {
    font-size: 1.3em;
}

.job__date {
    font-size: 0.8em;
    color: #7E7C7C;
    text-transform: uppercase;
}

.job__title {
    font-weight: 600;
}

.project {
    display: inline-block;
    margin: 0 0 5% 0;
}

.project__preview {
    width:100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.project:nth-child(even) .project__preview-link {
    max-height: 470px;
    float: left;
    width: 60%;
    margin-right: 6%;
}

.project:nth-child(odd) .project__preview-link {
    max-height: 470px;
    float: right;
    width: 60%;
    margin-left: 6%;
}

.project:nth-child(odd) .project__description {
    text-align: right;
}

.project:last-child {
    margin-bottom: 0;
}

.page-footer {
    margin-top: 50px;

    background: #efeff1;
}

.page-footer__inner {
    margin: 10px auto;
    width: 50%;

    text-align: center;
}

.page-footer__logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#menu__toggle {
    display: none;
}

@media (max-width: 768px) {
    .header-content {
        max-width: 100%;
        margin-right: 0;
        top: -31vw;
        height: initial;
        margin-bottom: -31vw;

        font-size: 12px;
    }

    .header-content__name__sub {
        font-size: 0.6em;
    }

    .page-header__inner {
        padding-bottom: 15vw;
    }
}

@media (max-width: 620px) {
    .section__title {
        font-size: 2rem;
        margin: 10px 0 5px 0;
    }
    .page-body {
        margin: 0;
    }

    .section__list {
        padding-left: 10px;
    }

    .page-header__img {
        width: 83%;
    }

    .job {
        flex-direction: column;
    }

    .job__intro {
        width: auto;
    }

    .job__details {
        width: auto;
    }

    .project__preview-link {
        display: contents;
    }

    .project__description {
        display: inline-block;
    }

    .menu__btn {
        display: flex;
        align-items: center;

        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;

        cursor: pointer;
        z-index: 2;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000000;
        transition-duration: .25s;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    .nav-bar {
        position: fixed;
        top: 0;
        left: -100%;
        visibility: hidden;

        margin: 0;
        padding: 80px 0;
        height: 100%;
        z-index: 1;

        background: #F6F6F6;
        box-shadow: 1px 0 6px rgba(0, 0, 0, .2);

        transition-duration: .25s;
    }

    .nav-bar__link {
        padding: 10px 30px;
    }

    .nav-bar__link:hover {
        background-color: #FFE8E8;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .nav-bar {
        visibility: visible;
        left: 0;
    }
}
